@inject CwAuthorizationService.Dto.TokenDto UserToken

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebAdmin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
         <NavLink class="nav-link" href="index" @onclick="ClearUserToken">
             <span class="oi oi-home" aria-hidden="true"></span> Exit
         </NavLink>
     </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="accounts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Accounts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="servicecheck">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ServiceCheck
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="servicepermissions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ServicePermissions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="token">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Token
            </NavLink>
        </li>
    </ul>
</div>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ClearUserToken()
    {
        UserToken.Jwt = null;
    }
}
